HTML {
  background: #002b44;
}

BODY {
  background: white;
  color: black;
  font-family: arial,sans-serif;
  padding: 2ex;
  min-width: 900px;
  max-width: 1200px;
  margin: 5px auto;
}

CODE {
  background: #e3e3e3;
}

PRE     {
  background: #dddddd;
  border: 1px solid black;
  color: black;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10px;
  white-space: pre;
  margin-left: 40px;
  margin-bottom: 30px;
  width: 800px;
}

PRE CODE {
  background: #dddddd;
}

H1      {
  background: #ADEBFF;
  color: #006699;
  font-size: large;
  padding: 5px 5px 3px 5px;
  margin-top: 60px;
}

H2      {
  background: transparent;
  color: #006699;
  font-size: medium;
  margin-top: 40px;
}

LI {
  line-height: 1.2em;
  list-style-type: none;
}
 
UL#index {
  width: 300px;
  margin: 16px 0 30px 20px;
  padding: 10px 0px 10px 40px;
  background: #FFFFC0;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 2px 2px 4px #297CCF;
  -webkit-box-shadow: 2px 2px 4px #297CCF;
  box-shadow: 2px 2px 4px #297CCF;
}

DT {
  margin-top: 1em;
  width: 95%;
  margin-left: 10px;
  padding: 4px 5px 6px 12px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #D0F8C8;
  font-weight: bold;
}

DT CODE {
  background: #D0F8C8;
}

DD {
  margin-bottom: 30px;
}

:target {
  scroll-margin-top: 2ex;
}
